{{>header}}
{{>nav}}

<div class="container-fluid" style="width:50%;">
    <h3>Collections</h3>
    <div class="row">
        <div class="col-2"><a href="/"><img src="/public/img/arrow.svg" style="width: 30px;"></a></div>
        <div class="col-8">
            <p>{{collection.name}}</p>
        </div>
    </div>
    <form action="/addtask" method="POST">
        <div class="addtask">ADD TASK</div>
        <button class="btn btn-info">ADD</button>
        <input type="text" name="name">
    </form>
    <div>{{this.name}}</div>

</div>
{{>footer}}