{{>header}}
{{>nav}}

<div class="container-fluid">
    <h3>Collections</h3>
    <div class="row">
        <div class="col-2">arrow back</div>
        <div class="col-8">detail</div>

        </div>
    </div>
    <form action="/addtask" method="POST">
        <div class="addtask">add task</div>
        <button>add</button>
        <input type="text" name="name">
    </form>

</div>
{{>footer}}