{{>header}}
{{>nav}}

<div class="container-fluid" id="container-detail">
    <h5>Task 2</h5>
            {{#if isLogin}}
        <div class="text-end mb-2">
            <a href="/edit-detail/{{collection.id}}" class="btn-edit"><img src="/public/img/edit.svg" alt="logo edit" style="width: 20px;"></a>
            <a href="/delete-detail/{{collection.id}}" class="btn-delete"><img src="/public/img/trash.svg" alt="logo delete" style="width: 20px;"></a>
        </div>
        {{/if}}
        <div class="result">{{collection.name}} <span><img src="/public/img/circle.svg" style="width: 20px; float:right"></span></div>
        <p>Completed</p>
        <div class="result">{{collection.name}} <span><img src="/public/img/circle.svg" style="width: 20px; float:right"></span></div>
</div>





{{>footer}}