{{>header}}
{{>nav}}

<div class="container-fluid" id="container-detail">
    <p>task 2</p>
        <div class="result">1</div>
        <div class="result">2</div>
        <div class="result">3</div>
        <p>completed</p>
        <div class="result">1</div>
        <div class="result">2</div>
        <div class="result">3</div>
</div>





{{>footer}}