{{> header}}
{{> nav}}

<main>
  <div class="d-flex flex-wrap justify-content-center m-3 p-2" id="container-big">
    {{#each collection}}
      <div class="card m-3" style="width: 18rem; border">
        <div class="card-body text-start mb-3">
          <h6 class="card-title">{{this.name}}</h6>
        </div>
        <div class="container">
            <div class="row align-items-end">
              <div class="col-8">
                {{this.name}}
              </div>
              <div class="col-4">
                <img src="/public/img/check.svg" alt="" style="width: 20px;">
              </div>
            </div>
        </div>
      </div>
  {{/each}}
  </div>
</main>

{{> footer}}