#btn-col {
    margin-right: 30%;
}

.result {
    background-color: aliceblue;
    margin-bottom: 10px;
}
#container-main{
    display: flex;
}

#container-detail {
    width: 50%;
    margin: 0 auto;
}